# Python
__pycache__/
.pytest_cache/
*.py[cod]
*.class
venv/
.venv/
env/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Build
build/
dist/
*.egg-info/

# Executables
*.exe
*.dll
*.so
*.dylib
*.a
*.out
